@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&family=Source+Sans+Pro:wght@300;900&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, li {
    font-family: "Source Code Pro", monospace;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

.introduction {
position: relative;

}

.introduction__img {
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,0.25);
}

@media (min-width: 600px) {
    .introduction {
        display: grid;
        width: min-content;
        grid-column-gap: 1em;
        margin: 0 auto;
        grid-template-areas: 
            'img title';
        grid-template-columns: min-content max-content;
    }
    .introduction__img {
        grid-area: img;
        min-width: 450px;
        position: relative;
        z-index: 2;
    }
}

.container {
    width: 80%;
    margin: 0 20px;
    height: 10%;
}

.logo {
    float: left;
    padding: 30px 15px;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 35px;
    padding-top: 43px;
    position: relative;
    padding-left: 30px;
}
 
nav a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
}

.heading {
    text-align: center;
    margin-top: 1%;
}

.text {
    padding: 15px 2% 15px 2%;
}

.hello {
    padding-top: 15px;
}

.form {
  padding: 150px;  
}

legend {
    text-align: center;
}

fieldset {
    padding: 20px 35px;
}

label {
    font-size: 20px;
}

input {
    font-size: 25px;
    margin: 5px 0;
}

button {
    padding: 5px;
    color: #000;
    background: rebeccapurple;
    border-radius: 6px;
    margin-top: 10px;
}

#button {
    font-size: 20px;
}
